@import "tailwindcss";

@theme {
  --color-foret: #15302F;
  --color-sauge: #BFA98F;
  --color-sable: #E8E3D9;
  --color-craie: #FAFAFB;
  --color-terracotta: #C47452;
}

body {
  background-color: var(--color-craie);
  color: var(--color-foret);
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Utilitaires Safe-Area iOS/Android et scrollbars masquées */
.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 0.75rem);
}

.pt-safe {
  padding-top: calc(env(safe-area-inset-top, 0px) + 1rem);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}